*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-family: 400;
}
.main{
    margin: 20px auto;
    padding: 10px;
    text-align: center;
    font-size: 15px;
}
p{
    font-weight: 200;
}
span{
    font-weight: 600;
    font-size: 1.8em;
    margin: 10px;
}
h1{
    margin: 10px 0 3px;
    font-size: 1.8em;
    font-weight: 200;
}
h3{
    margin: 3px 0 7px;
}
.container{
    margin: 70px auto;
    position: relative;
    padding: 10px auto;
    max-width: 600px;
}
.supervisor, .karma, .calculator, .team-builder{
    padding: 20px;
    text-align: justify;
    box-shadow: 7px 7px 5px whitesmoke, -7px -7px 5px whitesmoke;
    border-radius: 5px;  
}
.supervisor{
    border: 5px solid white;
    border-top-color: hsl(180, 62%, 55%);
}
.team-builder{
    border: 5px solid white;
    border-top-color: hsl(0, 78%, 62%);
}
.karma{
    border: 5px solid white;
    border-top-color: hsl(34, 97%, 64%);
}
.calculator{
    border: 5px solid white;
    border-top-color: hsl(212, 86%, 64%);
}
svg{
    display: block;
    margin: 50px 10px 10px;
    float: right;
}

@media screen and (min-width: 1440px){
    .main{
        width: 450px;
    }
    .supervisor, .karma, .calculator, .team-builder{
        width: 300px;
        height: 200px;
    }
    .supervisor{
        position: absolute;
        left: -265px;
        top: 150px;
    }
    .team-builder{
        margin: 30px auto;
    }
    .karma{
        margin: 30px auto;
    }
    .calculator{
        position: absolute;
        bottom: 130px;
        right: -265px;
    }
}
@media screen and (min-width: 375px) and (max-width: 1439px){
    .main{
        width: 350px;
    }
    .container{
        margin-top: 10px;
    }
    .supervisor, .karma, .calculator, .team-builder{
        width: 300px;
        height: 190px;
    }
    .supervisor, .karma, .calculator, .team-builder{
        position: unset;
        margin: 20px auto;
    }
}